@model DetailsSendboxMessageDTO

@{
    ViewData["Title"] = "SendboxMessageDetails";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="email-left-box">
                        <a asp-controller="AdminContact" asp-action="AddSendMessage" class="btn btn-primary btn-block">Yeni Mesaj Oluştur</a>
                        @await Html.PartialAsync("/Views/AdminContact/AdminContactSidebarPartial.cshtml")

                        @await Html.PartialAsync("/Views/AdminContact/AdminContactCategorySidebarPartial.cshtml")
                    </div>
                    <div class="read-content">
                        <div class="media pt-5">
                            <div class="media-body">
                                <h5 class="m-b-3">@Model.ReceiverName</h5>
                                <p class="m-b-2">@Model.Date.ToShortDateString()</p>
                            </div>
                        </div>
                        <hr class="offset-sm-3">
                        <div class="media mb-4 mt-1">
                            <div class="media-body">
                                <h4 class="m-0 text-primary">@Model.Title</h4><small class="text-muted">@Model.ReceiverMail</small>
                            </div>
                        </div>
                        <p class="offset-sm-3">@Model.Content</p>
                        <hr class="offset-sm-3">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>