@model ResultAppUserListDTO

<div class="header">
    <div class="header-content clearfix">

        <div class="nav-control">
            <div class="hamburger">
                <span class="toggle-icon"><i class="icon-menu"></i></span>
            </div>
        </div>

        <div class="header-right">
            <ul class="clearfix">
                <li class="icons dropdown mt-2">
                    <a asp-controller="Default" asp-action="Index">
                        <i class="icon-plane menu-icon"></i>
                    </a>
                </li>
                <li class="icons dropdown">
                    <div class="user-img c-pointer position-relative mt-4" data-toggle="dropdown">
                        <img src="@Model.ImageUrl" height="40" width="40" alt="@Model.Name @Model.Surname">
                        <label class="ml-1 mr-2" style="font-weight: bold">@Model.Name @Model.Surname</label>
                    </div>
                    <div class="drop-down dropdown-profile   dropdown-menu">
                        <div class="dropdown-content-body">
                            <ul>
                                <li>
                                    <a asp-controller="Setting" asp-action="Index"><i class="icon-user"></i> <span>Profil</span></a>
                                </li>
                                <li>
                                    <a asp-controller="AdminContact" asp-action="Inbox"><i class="icon-envelope-open"></i> <span>Gelen Kutusu</span></a>
                                </li>
                                <li>
                                    <a asp-controller="AdminContact" asp-action="Sendbox"><i class="icon-envelope-letter"></i> <span>Giden Kutusu</span></a>
                                </li>
                                <hr class="my-2">
                                <li><a asp-controller="Login" asp-action="SignOut"><i class="icon-key"></i> <span>Çıkış Yap</span></a></li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
